@charset "utf-8";
/* CSS Document */





/* MAIN */

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
body {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 15px;
	background-image: url("../img/bg/space_bg.png");
	background-color: black;
	background-attachment:fixed;
	background-size: 100%;
	height: auto;
	background-repeat: no-repeat;
}
.discord_body {
	background-image: url("../img/bg/space_bg_discord.png");
}
body iframe {
	margin: 0 auto;
	text-align: center;
	display: block;
}
.discord_widget {
	padding: 150px;
	width: 50%;
	height: 1200px;
}



/* HEADER */

.header {
	height: 75px;
	width: 100%;
	background-color:#0F0F0F;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
}
.header_inner {
	height: 100%;
	width: 1000px;
	display: block;
	margin: 0 auto;
}
.header_logo {
	height: 100%;
	display: table;
	float: left;
	vertical-align: middle;
}
.header_buttons {
	float: right;
	height: 100%;
}
.header_buttons a {
	text-decoration: none;
	float: right;
	display: table;
	height: 100%;
	padding: 0px 20px;
}
.header_buttons a li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}





/* HERO */

.hero {
	width: 100%;
	background-image: url("../img/bg/home_bg.png");
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.hero img {
	vertical-align: middle;
	display: block;
	height: 600px;
	width: auto;
	margin: auto;
}





/* LANDING */

.landing {
	background-image: url("../img/bg/hexagon_bg.png");
	background-size: cover;
	background-attachment: fixed;
	float: none;
}
#welcome {
	font-size: 20px;
	padding-top: 3%;
	padding-bottom: 2%;
	padding-right: 10%;
	padding-left: 4%;
	display: inline-block;
}
#welcome img {
	float: left;
	width: 51%;
}
#welcome h1 {
	font-size: 50px;
}




/* MEDIA QUERIES */

@media (min-width: 2350px) {
	.header_inner {
		width: 2400px;
	}
	.header_buttons {
		padding: 0px 50px;
	}
}
@media (max-width: 1000px) {
	body {
		background-image: url("../img/bg/space_bg.png");
	}
	.header_inner {
		width: 768px
	}
	.header_buttons {
		padding: 0px 10px;
	}
	#welcome {
		font-size: 12px;
	}
	#welcome h1 {
		font-size: 30px;
	}
}
@media (max-width: 768px) {
	.header {
	}
	.header_inner {
		width: 600px;
	}
	#welcome {
		margin: 0 auto;
		width: 100%;
		float: none;
	}
	#welcome img {
		float: none;
	}
}